<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hidrolife - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
<div class="d-flex justify-content-between align-items-center p-3">

    <button type="button"
            class="btn btn-deactived"
            data-bs-toggle="modal"
            data-bs-target="#modalFAQ">
        <i data-lucide="circle-question-mark"></i>
    </button>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-hydro px-4 py-2">
            Cerrar sesión
        </button>
    </form>

</div>
<!-- Títulos -->
<div class="container text-center mt-2">
    <h1 class="mb-2 hydro-title">Bienvenido a Hidrolife</h1>

    <h2 class="fw-normal">Seleccione la funcion que desea ejecutar</h2>
</div>

<div class="container mt-3">
    <div class="row justify-content-center g-5 mt-1">

        <!-- BOTÓN 1 -->
        <div class="col-12 col-md-4 col-lg-3">
            <a th:href="@{/baseDatos}" class="big-icon-btn">
                <i class="bi bi-database"></i>
                <span>Gestión</span>
            </a>
        </div>

        <!-- BOTÓN 2 -->
        <div class="col-12 col-md-4 col-lg-3">
            <a th:href="@{/sensores}" class="big-icon-btn">
                <i class="bi bi-speedometer2"></i>
                <span>Sensores</span>
            </a>
        </div>

        <!-- BOTÓN 3 -->
        <div class="col-12 col-md-4 col-lg-3">
            <a th:href="@{/editarUsuario}" class="big-icon-btn">
                <i class="bi bi-person-lines-fill"></i>
                <span>Perfil</span>
            </a>
        </div>

    </div>
</div>

<div class="modal fade" id="modalFAQ" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Preguntas frecuentes</h5>
            </div>
            <div class="container mt-2" style="max-width: 2200px;">

                <div class="accordion" id="faqAccordion">

                    <!-- Pregunta -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#faq1">
                                ¿Qué es HidroLife?
                            </button>
                        </h2>

                        <div id="faq1"
                             class="accordion-collapse collapse"
                             data-bs-parent="#faqAccordion">

                            <div class="accordion-body">
                                HidroLife es un sistema de monitoreo y gestión para cultivos hidropónicos
                                que permite visualizar lecturas de sensores como pH, TDS, temperatura y humedad,
                                además de registrar cultivos y actividades realizadas en el sistema.

                            </div>

                        </div>
                    </div>

                    <!-- Pregunta -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#faq2">
                                ¿Qué sensores monitorea el sistema?
                            </button>
                        </h2>

                        <div id="faq2"
                             class="accordion-collapse collapse"
                             data-bs-parent="#faqAccordion">

                            <div class="accordion-body">

                                Actualmente el sistema permite visualizar información proveniente de los siguientes sensores:

                                <ul class="mt-2">
                                    <li>Sensor de pH</li>
                                    <li>Sensor de TDS (Total de sólidos disueltos)</li>
                                    <li>Sensor de temperatura</li>
                                    <li>Sensor de humedad</li>
                                </ul>

                                Estos datos permiten evaluar el estado del cultivo en tiempo real.

                            </div>

                        </div>
                    </div>
                    <!-- Pregunta -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#faq3">
                                ¿Qué ocurre si un sensor muestra valores fuera de los rangos permitidos?
                            </button>
                        </h2>

                        <div id="faq3"
                             class="accordion-collapse collapse"
                             data-bs-parent="#faqAccordion">

                            <div class="accordion-body">
                                Cuando un sensor detecta valores fuera del rango configurado, el sistema puede generar
                                alertas para informar que las condiciones del cultivo pueden no ser óptimas.

                            </div>

                        </div>
                    </div>
                    <!-- Pregunta -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#faq4">
                                ¿Quién puede modificar los rangos de tolerancia de los sensores?
                            </button>
                        </h2>

                        <div id="faq4"
                             class="accordion-collapse collapse"
                             data-bs-parent="#faqAccordion">

                            <div class="accordion-body">
                                Solo los usuarios con rol de administrador tienen permisos para modificar
                                los rangos mínimos y máximos de los sensores.

                                Los usuarios normales solo pueden visualizar los valores.
                            </div>

                        </div>
                    </div>
                    <!-- Pregunta -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#faq5">
                                ¿Por qué no puedo ver algunos registros?
                            </button>
                        </h2>

                        <div id="faq5"
                             class="accordion-collapse collapse"
                             data-bs-parent="#faqAccordion">

                            <div class="accordion-body">
                                El sistema permite desactivar registros como cultivos, actividades o usuarios.
                                Cuando un registro está desactivado:

                                <ul class="mt-2">
                                    <li>Los usuarios normales no pueden verlo.</li>
                                    <li>Solo los administradores pueden visualizarlo</li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    <!-- Pregunta -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#faq6">
                                ¿Cómo puedo buscar información específica?
                            </button>
                        </h2>

                        <div id="faq6"
                             class="accordion-collapse collapse"
                             data-bs-parent="#faqAccordion">

                            <div class="accordion-body">
                                En el módulo de gestión y control se pueden utilizar los filtros de búsqueda, que permiten consultar información por:

                                <ul class="mt-2">
                                    <li>tipo de registro</li>
                                    <li>valores específicos</li>
                                    <li>rangos de fecha</li>
                                </ul>






                            </div>

                        </div>
                    </div>
                    <!-- Pregunta -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#faq7">
                                ¿Qué debo hacer si el sistema no muestra lecturas de sensores?
                            </button>
                        </h2>

                        <div id="faq7"
                             class="accordion-collapse collapse"
                             data-bs-parent="#faqAccordion">

                            <div class="accordion-body">
                                Si no aparecen lecturas, se recomienda verificar:

                                <ul class="mt-2">
                                    <li>que los sensores estén correctamente conectados</li>
                                    <li>que el sistema de adquisición de datos esté funcionando</li>
                                    <li>que exista conexión con el dispositivo que envía las lecturas</li>
                                </ul>





                            </div>

                        </div>
                    </div>
                    <!-- Pregunta -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#faq8">
                                ¿Qué es HidroLife?
                            </button>
                        </h2>

                        <div id="faq8"
                             class="accordion-collapse collapse"
                             data-bs-parent="#faqAccordion">

                            <div class="accordion-body">
                                HidroLife es un sistema de monitoreo y gestión para cultivos hidropónicos
                                que permite visualizar lecturas de sensores como pH, TDS, temperatura y humedad,
                                además de registrar cultivos y actividades realizadas en el sistema.

                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<script>
    lucide.createIcons();
</script>
</body>

</html>